services:
  auth-service:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/brabank_auth
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
    depends_on:
      db:
        condition: service_healthy
    command : ["java", "-jar", "app.jar"]

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: brabank_auth
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d brabank_auth"]
      interval: 5s
      retries: 5
      timeout: 5s

volumes:
  postgres_data: