version: "1.0"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/brabank_auth
      SPRING_DATASOURCE_USER: admin
      SPRING_DATASOURCE_PASSWORD: supaCoolPassword
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: brabank_auth
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: supaCoolPassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: